.header {
  width: 1145px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.logo {
  width: 168px;
  height: 51px;
}

.logo a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.logo a p {
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin: 10px;
}

.logo a p span {
  font-weight: 900;
  color: #f16d7f;
}

.search {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search details {
  width: 87px;
  height: 38px;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  text-align: center;
}

.search details summary {
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222222;
  list-style: none;
  padding: 4px;
}

.search details summary:after {
  content: '\23F7';
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #838383;
  padding-left: 5px;
}

.search input {
  width: 317px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
}

.search a {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  padding: 10px;
}

.cart_MyAcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
}

.cart_MyAcc a {
  padding: 10px;
}

.cart_MyAcc details {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  text-align: center;
}

.cart_MyAcc details summary {
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  list-style: none;
  padding: 4px;
}

.cart_MyAcc details summary:after {
  content: '\23F7';
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding-left: 5px;
}

.nav {
  width: 685px;
  height: 51px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav ul li {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.nav ul li a {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}

/*slider start */
.slider {
  background-image: url(../img/curly_man.jpg);
  width: 1608px;
  height: 665px;
  background-color: #e8e8e8;
  position: relative;
}

.slider_text {
  position: absolute;
  border-left: 12px solid #f16d7f;
  top: 250px;
  left: 250px;
}

.slider_text h2, .slider_text p, .slider_text span {
  font-family: Lato;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin: 0;
}

.slider_text h2 {
  font-size: 60px;
  color: #222222;
  line-height: 42px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.slider_text p {
  font-size: 40px;
  line-height: 31px;
  padding-left: 15px;
}

.slider_text span {
  font-size: 40px;
  color: #f16d7f;
}

/*slider end */
/*advertising sart */
.advertising {
  margin: 100px auto;
  width: 1145px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.advertising .pic_1 {
  background-image: url(../img/Products_advertising/pic_1.jpg);
  width: 560px;
  height: 542px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.advertising .pic_2 {
  background-image: url(../img/Products_advertising/pic_2.jpg);
  width: 560px;
  height: 261px;
}

.advertising .pic_3 {
  background-image: url(../img/Products_advertising/pic_3.jpg);
  width: 560px;
  height: 261px;
}

.advertising .pic_4 {
  background-image: url(../img/Products_advertising/pic_4.jpg);
  width: 560px;
  height: 542px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.text_pic {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text_pic p {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 15px 20px;
}

.text_pic p span {
  font-size: 30px;
  color: #f16d7f;
}

/*advertising end */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.width-site {
  width: 1608px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75px 51px 100%;
      grid-template-rows: 75px 51px 100%;
  justify-items: center;
  height: 75px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}
/*# sourceMappingURL=style.css.map */